# Print Hello World!

In [ ]:
print("Hello World!")

Hello World!

# Adding comments in python

In [ ]:
# I am comment line
# I don't print

# Docstring or multiline string

In [ ]:
"""
Look at me
I am multiline string
I can go on...
& I print when executed
"""

'\nLook at me\nI am multiline string\nI can go on...\n& I print when executed\n'

# Input and Output

In [ ]:
print("✅ Add two numbers")

# get input while executing
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print(f"c={a+b}")

✅ Add two numbers
Enter first number: 1
Enter second number: 2
c=3

In [ ]:
# if not wrapped in int, the input is considered as string
# and instead of addition, it will just concatinate the strings

print("❌ Add two numbers")

# get input while executing
a = input("Enter first number: ")
b = input("Enter second number: ")

print(f"c={a+b}")

❌ Add two numbers
Enter first number: 1
Enter second number: 2
c=12

# Print

In [ ]:
# print string
print("I am string.")

# print variable
name="I am name"
print(name)

# print string & variable
name="I am"
print(name, "you")

# print formated string
name="John Doe"
course_name = "Python"

print(f"Hello, I am {name}! How are you liking this {course_name} course?")

# end with
print("I", "am", "with", "you")
print("I", "am", "with", "you", end=".")

# separate with
print("1", "2", "3", "4", "5")
print("1", "2", "3", "4", "5", sep=",")

I am string.
I am name
I am you
Hello, I am John Doe! How are you liking this Python course?
I am with you
I am with you.1 2 3 4 5
1,2,3,4,5

# Data types

In [ ]:
a = "I am string"
b = 1234
c = 1.234
d = (1,2,3,4)
e = [1,2,3,4]
f = {1:"one",2:"two",3:"three",4:"four"}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [ ]:
# convert dtype

a = "1"
b = "2"
print(f"Without convertion: {a+b} (concatinate)")
print(f"Convert to integers: {int(a)+int(b)} (sum)\n\n")

a = 1
b = 2
print(f"Without convertion: {a+b} (sum)")
print(f"Convert to strings: {str(a)+str(b)} (concatinate)\n\n")

a = "1.0"
b = "2.1"

print(f"Without convertion: {a+b} (concatinate)")
print(f"Convert to float: {float(a)+float(b)} (sum)\n\n")

Without convertion: 12 (concatinate)
Convert to integers: 3 (sum)


Without convertion: 3 (sum)
Convert to strings: 12 (concatinate)


Without convertion: 1.02.1 (concatinate)
Convert to float: 3.1 (sum)

# Variables

Variables are named storage locations used to hold data that can be accessed and modified during program execution.

Rules of naming variables:
- only contain letters, digits and underscores
- cannot start with a digit
- variable are case-sensitive
- Avoid using Python keywords as variable names

In [ ]:
# only contain letters, digits and underscores
a ="string variable"
a2b = 123
name_of_2_cities = ["Bangalore","Mumbai"]

# cannot start with a digit
#2_cities = ["Bangalore","Mumbai"] # try uncommenting me

# variable are case-sensitive
favoriteColor= "Blue"
favoritecolor= "Black"
favorite_color= "Green"
favorite_Color= "Red"

print("All are different variables: ")
print(favoriteColor, favoritecolor, favorite_color, favorite_Color)

All are different variables:
Blue Black Green Red

In [ ]:
# Avoid using Python keywords as variable names

import keyword

print("Avoid using these Python keywords while naming variable")
print(keyword.kwlist)

Avoid using these Python keywords while naming variable
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Scope of a Variable

In [ ]:
x = 3
print(x) # global variable

def check_var_scope():
  x=4 # local variable
  print(x)

check_var_scope()

print(x) # local variable doesn't impact global variable

3
4
3

### Operators

In [1]:
# Arithmetic Operators
a = 2
b = 3

#Adddition
add= a+b
print("Adddition: ", add)

#Substraction
sub= a-b
print("Substraction: ", sub)

#Multiplication
mul= a*b
print("Multiplication: ", mul)

#Division
div= a/b
print("Division: ", div)

#Modulus
mod= a%b
print("Modulus: ", mod)

#Exponential
expo = a**b
print("Exponential: ", expo)

Adddition:  5
Substraction:  -1
Multiplication:  6
Division:  0.6666666666666666
Modulus:  2
Exponential:  8

In [2]:
#Comparison Operators
a = 13
b = 33

print(f"Greater than operator: {a > b}")
print(f"Less than operator: {a < b}")
print(f"Equal to operator: {a == b}")
print(f"Not equal to operator: {a != b}")
print(f"Greater than or equal to operator: {a >= b}")
print(f"Less than or equal to operator: {a <= b}")

Greater than operator: False
Less than operator: True
Equal to operator: False
Not equal to operator: True
Greater than or equal to operator: False
Less than or equal to operator: True

In [3]:
# Logical Operators
a = True
b = False

print("and operator: ",a and b)
print("or operator: ",a or b)
print("not operator: ",not a)

and operator:  False
or operator:  True
not operator:  False

In [4]:
#Assignment Operators

a = 10
b = a
print(b)
b += a # b=b+a
print(b)
b -= a # b=b-a
print(b)
b *= a # b=b*a
print(b)

10
20
10
100

### Conditional Statements

In [9]:
# if condition
a = 3
b = 4

if a==b:
  print("a is equal to b.")
elif a>b:
    print("a is greater than b.")
elif b>a:
  print("b is greater than a.")
else:
  print("Something is wrong.")

b is greater than a.

In [10]:
#Ternary

a = 20
b=10

c = "a > b" if a >= b else "a < b"

In [11]:
#Match-Case

a = 2

match a:
    case 1:
        print("One")
    case 2 | 3:
        print("Two or Three")
    case _:
        print("Other number")

Two or Three

### Loop

In [12]:
# while

a = 0
while (a < 3):
    a = a + 1
    print(a)

1
2
3

In [13]:
#for

a = 4
for i in range(0, a):
    print(i)

0
1
2
3

### Function

In [14]:
#function definition
def say_hello():
  print("Hello There!") #reusable code that I can call multiple time

#function excution
say_hello()

Hello There!

In [15]:
def addition(num1, num2):
  print(num1+num2)

addition(1,2)

3

In [16]:
def addition(num1: int|float, num2:int|float)->None:
  print(num1+num2)

addition(1,2)

3

In [17]:
def recursive_sum(numbers: list[int]) -> int:
    if not numbers:
        return 0
    return numbers[0] + recursive_sum(numbers[1:])

a=[1,2,3,4,5,6,7,8,9,10]

recursive_sum(a)

55

In [18]:
def multiple_args(*args):
    for arg in args:
        print(arg)

multiple_args(1, 2, 3, 4, 5)

1
2
3
4
5

In [20]:
def multiple_kwargs(**kwargs):
    for k, val in kwargs.items():
        print(f"{k}: {val}")

multiple_kwargs(name="John", age=30, city="New York")

name: John
age: 30
city: New York

In [21]:
a = 10

b = lambda a: a>12
print(b(a))

False

In [26]:
# decorator function
def decorator(func):

    def wrapper():
        print("Before.\n")
        func()
        print("\nAfter.")
    return wrapper

# Apply decorator to function
@decorator
def main_function():
    print("Main function called!")

#call greet function
main_function()

Before.

Main function called!

After.

### Class

In [27]:
class personal_info:
    def __init__(self, fname, mname, lname):
        self.firstname = fname
        self.middlename = mname
        self.lastname = lname

    def get_first_name(self):
        print(self.firstname)

    def get_last_name(self):
        print(self.lastname)

    def get_full_name(self):
        print(self.firstname, self.middlename, self.lastname)

x = personal_info("John", "Lee", "Cooper")
x.get_first_name() # get only first name
x.get_last_name() # get only last name
x.get_full_name() # get full name

John
Cooper
John Lee Cooper